.create-task-header {
    text-align: center;
}

.create-task-header input {
    width: 95%;
    font-size: 20px;
    background: transparent;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px;
}

.create-task-header input::placeholder {
 text-align: center;
}

.create-task-first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.priority-drop {
    display: flex;
}

.create-task-first-line h4 {
    margin-right: 10px;
}

.create-task-first-line select {
    -webkit-appearance: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: white;
    margin-left: 4px;
    font-size: 16px;
    text-align: center;
}

.create-task-first-line select:hover, .create-task-first-line select:focus {
    border-color: #007bff;
}

.create-task-first-line select option {
    background: #333;
    color: white;
}

.create-task-description textarea,
.create-task-comment textarea {
    width: 100%;
    min-height: 80px;
    background-color: lavender;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.create-task-dates input {
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    margin-left: 4px;
}


.create-task-attachment {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.create-task-attachment label {
    padding-right: 10px;
}

.create-task-footer {
    display: flex;
    justify-content: space-between;
}

.button-save-later {
    background: lightskyblue;
}
.button-create-task {
    background: mediumpurple;
}
